{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<main class="container">
  <div class="connexion">
    <h2>Mon espace instructeur</h2>
     <div>Nom :{{app.user.lastname}} {{app.user.firstname}}</div>
            <div>Email : {{app.user.email}}</div>
          </div>
  </div>
  <h4>Gestion de mes formations</h4>
           
           

<a href="{{ path('app_teacher_show') }}"class="btn btn-Vine">Mes formations</a></button>
<a href="{{ path('app_section_index') }}"class="btn btn-Vine">Mes sections</a></button>
<a href="{{ path('app_lesson_index') }}"class="btn btn-Vine">Mes lessons</a></button>




  
           
    
       
       
              {% if is_granted('ROLE_TEACHER')%}
                   {% if app.user.isvalidated == true %}
              
                   <a href="{{ path('app_training_new') }}"class="btn btn-Vine">Creer une formation</a></button>
                   <a href="{{ path('app_section_new') }}"class="btn btn-Vine">Creer une section</a></button>
                    <a href="{{ path('app_lesson_new') }}"class="btn btn-Vine">Creer une lesson</a></button>
                    {% else %}
                    <p> Votre compte n'est pas validé , vous ne pouvez pas creer de formation. </p>
                    {% endif %}
              {% endif %}

     
  

</main>

{% endblock %}
