{% extends 'base.html.twig' %}

{% block title %}Gestion formation{% endblock %}

{% block body %}

<div class="container fluid container-lg">
<div class="row d-flex justify-content-evenly align-items-center overflow-auto">
  <div class="col-12">
    <div class="text-center">
      <h1>Gestion de mes formations</h1>
    </div>
  </div>




 <div class="card-group text-center">


        <div class="col-12">
          <div class="card mx-4 my-5">
            <div class="card-body">
              <img src="{{ asset('picture/formationimage.png') }}" class="card-img-avatar mt-3 " alt="gestionformation" height="200" width="200" >
              <h5 class="card-title">Gestion de mes formations</h5>
              <p class="card-text">Voir,creer,modifier,une formation.</p>
            </div>
            <div class="card-footer">
             <a href="{{ path('app_teacher_show') }}"class="btn btn-Vine">Voir mes formations</a></button>
          </div>
        </div>
         </div>

        <div class="col-12">
          <div class="card mx-4 my-5">
            <div class="card-body">
              <img src="{{ asset('picture/sectionimage.png') }}" class="card-img-avatar mt-3 " alt="gestionsection" height="200" width="200" >
               <h5 class="card-title">Gestion de mes sections</h5>
              <p class="card-text">Voir,creer,modifier,une section.</p>
            </div>
            <div class="card-footer">
            <a href="{{ path('app_section_index') }}"class="btn btn-Vine">Voir mes sections</a></button>
          </div>
        </div>
         </div>

 <div class="col-12">
          <div class="card mx-4 my-5">
            <div class="card-body">
              <img src="{{ asset('picture/Leconimage.png') }}" class="card-img-avatar mt-3 " alt="gestion leçon" height="200" width="200" >
               <h5 class="card-title">Gestion de mes leçon</h5>
              <p class="card-text">Voir,creer,modifier,une leçon.</p>
            </div>
            <div class="card-footer">
           <a href="{{ path('app_lesson_index') }}"class="btn btn-Vine">Voir mes lessons</a></button>
          </div>
        </div>
         </div>


</div>
</div>

{% endblock %}
