{% extends 'base.html.twig' %}
{% block title %}Liste formations{% endblock %}

{% block body %}



<div class="container-fluid container-lg vh-100">
<div class= "row text-center">
<div class="col-12">
<a href="{{ path('app_teacher_index') }}"class="btn btn-Vine" role="button">retour</a>
</div>
</div>
<div class="col-12" >
    <h1>Mes formations</h1>
<a href="{{ path('app_training_new') }}"class="btn btn-Vine" role="button">Ajouter une formation</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Training in trainings %}    
            <tr><td><h1>{{ Training.Id }}</h1></td>
                <td><h2>{{ Training.Title }}</h2></td>
                <td>{{ Training.Description }}</td>
            
                <td>
                    <a href="{{ path('app_training_show', {'id': Training.id}) }}"class="btn btn-Vine mb-2" role="button">Voir</a>
                    <a href="{{ path('app_training_edit', {'id': Training.id}) }}"class="btn btn-Vine mb-2" role="button">Modifier</a>
                  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
         <a href="{{ path('app_training_new') }}">Create new</a>
    </table>
</div>

{% endblock %}        