{% extends 'base.html.twig' %}

{% block title %}Liste des Formations {% endblock %}

{% block body %}

<div class="container">
        <section class="row justify-content-center">
          <div class="col-12 actuformation">
    <h1>Liste de mes Formations</h1>
    </div>
  </section>
        <section class="row">
             {% for Training in trainings %}        
          <div class="col-md-4 g-2 d-flex align-content-stretch flex-wrap ">
              <div class="card article-formation">
                  <div class="aligncenter">
                     
                               
                  </div>
                  <div class="card-body mb-2 text-center">
                       <img src="{{ asset('uploads/images/'  ~ Training.picture) }}" class="card-img-top" alt="...">
   <h5 class="card-title">{{ Training.Title }}</h5>
                   
                      
                      <br>
                    
                      <br>
                      le : {{Training.Datecreate|date('Y-m-d')}}

                      </p>                    
                  </div>
                  <div class="card-footer d-flex flex-column">                    
                    
                          {% if app.user %}
                        <a href="{{ path ('app_training_show',{id:Training.Id})}}"class="btn btn-Vine " role="button">Détails de la formation</a>
                          {% else %}
                              <a href={{ path ('app_register')}} class="btn btn-Vine " role="button">Détails de la formation</a>
                          {% endif %}
                                             
                  </div>
              </div>
              
          </div>   
                              
        {% endfor %}





     

</main>
{% endblock %}




 