{% extends 'base.html.twig' %}
{% block title %}Liste formations{% endblock %}

{% block body %}
<div class="container-fluid container-lg">
 


<div class= "row text-center">
<h1>Mes formations</h1>
<div class="col-xs-12">
<a href="{{ path('app_training_new') }}"class="btn btn-Vine" role="button">Ajouter une formation</a>
</div>
  <div class="row d-flex justify-content-center align-items-center" id="allCardsPage">
{% for Training in trainings %}        
    <div class="col-xs-12 col-lg-4">
      <div class="card mx-4 my-5">
        <div class="trainingCard text-center">
        <img src="{{ asset('uploads/images/'  ~ Training.picture) }}" class="card-img-top mt-3" alt="..." height="200" width="200">
        <div class="card-body col trainingCardText d-flex flex-column justify-content-between"> 
          <h5 class="card-title text-center">{{ Training.Title }}</h5>
            <p class="card-text overflow-auto">{{ Training.Description }}</p>
            Publier par {{ Training.Creatby.firstname }}  {{ Training.Creatby.lastname }}                
            le : {{Training.Datecreate|date('Y-m-d')}}             
    {% if app.user %}
      <a href="{{ path ('app_training_show',{id:Training.Id})}}"class="btn btn-Vine" role="button"> Détail de la formation </a>
    {% else %}
      <h6><em>Connecter vous pour acceder au détails de la formation</em></h6>
    {% endif %}                   
          </div>
        </div>
      </div>
    </div>              
    {% endfor %}                

  </div>
</div>
{% endblock %}        