{% extends 'base.html.twig' %}

{% block title %}liste Section{% endblock %}

{% block body %}

            
<div class="container-fluid container-lg text-center">
<div class="row">
      <div class="col-xs-12" id="title">
         
        
      <a href="{{ path('app_training_show',{'id': training.id}) }}"class="btn btn-Vine" role="button">Retour</a>
     
      </div>

      <div class="col-xs-12" id="title">
        <h1>Détail de la section n° {{ section.id }}</h1>
      </div>
      </div>

    <div class="row">
      <div class="col-xs-12">
       <h2> titre</h2>{{ section.Title }}</h2>
      </div>
    </div>


<div class="row">
      <div class="col-xs-12">
       <h3>Fait partit de la formation:
       {{ section.containedIn }}</h3>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
      <h3>Lessons contenues dans cette section</h3>
     {% for lessonsContained in section.lessonsContained %}
            <a href="{{ path('app_lesson_show',{'id': lessonsContained.id})}}"> <li>{{lessonsContained.title}}</li>
                 {% endfor %}
     </div>
       </div>

     <div class="row">
     <div class="col-xs-12">
      {% if is_granted('ROLE_TEACHER') %}  
      
    {% endif %}
      </div>
    </div>
   </div>
   </div>

   
{% endblock %}
