{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs!{% endblock %}

{% block body %}
<div class="container-fluid container-lg">
  <table class="table">
        <thead>
            <tr>
                <th>Mails</th>
                <th>Date d'inscription</th>
                <th>Role</th>
                <th>Validé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for user in user %}
                <td> {{ user.email }}</td>
                <td> {{ user.Dateinscription|date('d/m/Y')}}</td>
              
             
            
                   <td>{% for roles in user.roles %}
                   
                   {% if roles == 'ROLE_ADMIN' %}
                Administrateur
                        {% endif %}
                        {% if roles == 'ROLE_TEACHER' %}
                Instructeur
                        {% endif %}
                        {% if roles == 'ROLE_LAERNING' %}
                Apprenant
                        {% endif %}
                {% endfor %}
                    </td>
                <td>
             {% if user.isValidated == true %}
                <img src="{{ asset('picture/Validation.png') }}" class="img-icon" alt="...">
                {% endif %}
              {% if user.isValidated == false %}
            <img src="{{ asset('picture/Suprimer.png') }}" class="img-icon" alt="...">
               {% endif %}
                  </td>  
                <td> <a href="{{ path('app_edit_user', {id : app.user.id}) }}" class="btn btn-Vine" role="button">Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


 {% endblock %}












