{% extends 'base.html.twig' %}

{% block title %}Liste des instructeurs!{% endblock %}

{% block body %}
<div class="container-fluid container-lg">
<div class= "row text-center">
<h1>Gestion des instructeurs</h1>
</div>

  <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Mails</th>
             
                <th>Role</th>
                <th>Validé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for user in user %}
            <td><img src="{{ asset('uploads/images/'~ app.user.Photo) }}" class="img-user" alt="..." height="50" width="50"></td>
                <td> {{ user.email }}</td>
              
              
             
            
                   <td>{% for roles in user.roles %}
                   
                   {% if roles == 'ROLE_ADMIN' %}
                Administrateur
                        {% endif %}
                        {% if roles == 'ROLE_TEACHER' %}
                Instructeur
                        {% endif %}
                        {% if roles == 'ROLE_LAERNING' %}
                Etudiants
                        {% endif %}
                {% endfor %}
                    </td>
                <td>
             {% if user.isValidated == true %}
                <img src="{{ asset('picture/Validation.png') }}" class="img-icon" alt="...">
                {% endif %}
              {% if user.isValidated == false %}
            <img src="{{ asset('picture/Suprimer.png') }}" class="img-icon" alt="...">
               {% endif %}
                  </td>  
                <td> <a href="{{ path('app_edit_user', {id:user.Id}) }}" class="btn btn-Vine" role="button">Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

 {% endblock %}












