{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}

<div class="container text-center">

<a href="{{ path('app_admin') }}" class="btn btn-Vine" role="button">Retour à la liste des utilisateurs</a>


<h2>Fiche utilisateur </h2>

       <img src="{{ asset('uploads/images/'~ app.user.Photo) }}" class="img-user" alt="..." height="250" width="250">
      
{% for roles in user.roles %}
{% if roles == 'ROLE_TEACHER'%}        
<p>Prénom : {{ user.Firstname }}</p>
<p>Nom : {{ user.Lastname }}</p>
{% endif %}
{% if roles == 'ROLE_TEACHER' %}        
<p>Prénom : {{ user.Firstname }}</p>
<p>Nom : {{ user.Lastname }}</p>
{% endif %}
{% if roles == 'ROLE_LAERNING' %}   
<p>Pseudo : {{ user.Pseudo }}</p>

{% endif %}
{% endfor %}
<p>Email : {{ user.Email }}</p>

Role:
{% for roles in user.roles %}
                
                {% if roles == 'ROLE_TEACHER' %}
                 Instructeur
                {% endif %}
                {% if roles == 'ROLE_LAERNING' %}
                Apprenant
     {% endif %}
{% endfor %}


<h3>Action</h3>
  

{{ include('/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</div>
{% endblock %}