{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}



<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 mb-1 h-100">
  
    <div class="row d-flex justify-content-center align-items-center h-100">
   
      <div class="col-3 col-12 mb-4 mb-lg-0">
       <div class= "row text-center">
<h1>Edition de l'utilisateur</h1>
</div>
        <div class="card mb-4 " style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-12 col-lg-3  gradient-custom text-center "
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
         
           {% if user.photo != NULL %}
            <img src="{{ asset('uploads/images/'~ user.Photo) }}" class="card-img-avatar mt-3" alt="Avatar" height="150" width="150"> 
             
            {% endif %} 
            {% if user.photo == NULL %}
          <img src="{{ asset('picture/blankprofile.png') }}" class="card-img-avatar mt-3" alt="Avatar blanc" height="150" width="150">
            {% endif %} 
        
           
         {% for roles in user.roles %}
                {% if roles == 'ROLE_TEACHER' %}
                 formateur
                {% endif %}
                {% if roles == 'ROLE_LAERNING' %}
                Etudiants
     {% endif %}
{% endfor %}
            {% if is_granted('ROLE_LAERNING') %} 
           <h5>{{app.user.pseudo}} </h5>
           <p>Etudiant </p>
           {% endif %} 
         
         <div class="col-4 offset-4 col-lg-12  offset-lg-0">
         <h6>{{ include('/_form.html.twig', {'button_label': 'Mettre à jour'}) }}</h6>
           
           </div>
            </div>

            <div class="col-12 col-lg-8">
              <div class="card-body p-4">
                <h6>Informations</h6>
                <hr class="mt-0 mb-4">
                {% if is_granted('ROLE_TEACHER') %} 
                <div class="row pt-1">
                 <div class="col-6 mb-3">
                    <h6>Nom</h6>
                    <p class="text-muted">{{ user.Lastname }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Prenom</h6>
                    <p class="text-muted">{{ user.Firstname }}</p>
                  </div>
                  {% endif %} 
                  
                  <div class="col-6 mb-3">
                    <h6>Pseudo</h6>
                    <p class="text-muted">{{ user.Pseudo }}</p>
                  </div>
                  <div class="col-8 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{ user.Email }}</p>
                  </div>
                 
                </div>
                 {% if is_granted('ROLE_TEACHER') %} 
                <h6>Spécialitées</h6>
                <hr class="mt-0 mb-1">
                  <div class="col-6 mb-1">
                    <p class="text-muted">{{app.user.specialities}} </p>
                </div>
                  {% endif %} 
                    {% if is_granted('ROLE_LAERNING') %} 
                <h6>Formation en cours</h6>
                <hr class="mt-0 mb-1">
                  <div class="col-6 mb-1">
                    <p class="text-muted">Fonctionnalité en attente</p>
                
                  {% endif %} 
                 {% if is_granted('ROLE_TEACHER') %}    
         <a href="{{ path('app_profile_editt',{id : app.user.id})}}"class="btn btn-Vine" role="button">Modifier mes informations</a>
         {% endif %}
        {% if is_granted('ROLE_LAERNING') %}  
        <a href="{{ path('app_profile_editl',{id : app.user.id})}}"class="btn btn-Vine" role="button">Modifier mes informations</a>
         {% endif %}
         </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}