{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs!{% endblock %}

{% block body %}

<table class="table ">
       
        
            <tbody>
                {% for user in user %}

                <tr>
                <th> Email </th>
                <td> {{ user.email }} </td>
                </tr>
                <tr>
                <th> {% for roles in user.roles %}
                {% if roles == 'ROLE_LAERNING' %}
                 Pseudo
                <td> {{ user.Pseudo }} </td>
                 {% endif %}
                {% if roles == 'ROLE_TEACHER' %}
                 Prenom
                <td> {{ user.Firstname }} </td>
                </th>
                </tr>
                <th>nom</th>
                <td> {{ user.Lastname }} </td>
                </tr>
                 {% endif %}
                

                 {% endfor %}

                <tr>
                <th> Inscription </th>
                <td> {{ user.Dateinscription|date('d/m/Y')}}</td>
                </tr>

              
                <tr>
                <th> Rôles </th>
                <td> {% for roles in user.roles %}
                {% if roles == 'ROLE_ADMIN' %}
                 Administrateur
                 {% endif %}
                {% if roles == 'ROLE_TEACHER' %}
                 Instructeur
                {% endif %}
                {% if roles == 'ROLE_LAERNING' %}
                Apprenant
     {% endif %}</td>
    {% endfor %}     
   

    <a href="{{ path('app_edit_user', {'id': user.id}) }}" class="btn btn-warning" role="button">Modifier</a>      
    {% endfor %}
               
            </tbody>
        </table>
       
        {% endblock %}