{% extends 'base.html.twig' %}

{% block title %}Leçon index{% endblock %}

{% block body %}

<div class="container-fluid container-lg">
<div class= "row text-center">
<div class="col-xs-12">
<a href="{{ path('app_teacher_index') }}"class="btn btn-Vine" role="button">retour</a>
</div>
</div>
    <h1>Mes Leçons</h1>
<a href="{{ path('app_lesson_new') }}"class="btn btn-Vine" role="button">Ajouter une leçon</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Résumé</th>
                <th>Documents</th>
                <th>Section</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.Title }}</td>
                <td>{{ lesson.textlesson }}</td>
                 <td>{{ lesson.ressources ? lesson.ressources|join(', ') : '' }}</td>
                 <td>{{ lesson.containedIn }}</td>
                <td>
                    <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}"class="btn btn-Vine" role="button">voir</a>
                    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}"class="btn btn-Vine" role="button">modifier</a>
                    
                  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
    
{% endblock %}
