<nav class="container navbar navbar-expand-lg mb-4">

  <a class="navbar-brand" href="{{path('app_home')}}">Ecoit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  

	<li class="nav-item">
      <a class="nav-link" href="{{path('app_admin')}}">Administration</a>
      </li>
  <li class="nav-item">
      <a class="nav-link" href="{{path('app_training_index')}}">Formation</a>
      </li>

	 <li class="nav-item">
        <a class="nav-link" href="{{path('app_register')}}">S'incrire</a>
      </li>
     
     <li class="nav-item">
        <a class="nav-link" href="{{path('app_teacher')}}">Devenir instructeur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{path('app_logout')}}">Se deconecter</a>
      </li>
     
       
    </ul>
  </div>


   
   
</nav>