  <nav class=" navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid container-lg">
              
          
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <div class="text-end">
                     
                            <a href="{{ path('app_teacher_show') }}"class="btn btn-Vine">Mes formations</a></button>
                     
                          <a href="{{ path('app_section_index') }}"class="btn btn-Vine">Mes sections</a></button>
                       
                   
                          <a href="{{ path('app_lesson_index') }}"class="btn btn-Vine">Mes leçons</a></button>
                        
                    
                          <a href="{{ path('app_training_new') }}"class="btn btn-Vine">Creer une formation</a></button>
                       
                   
                           <a href="{{ path('app_section_new') }}"class="btn btn-Vine">Creer une section</a></button>
                       
                        
                          <a href="{{ path('app_lesson_new') }}"class="btn btn-Vine">Creer une lesson</a></button>    
                        
                    </ul>
                        </div>
                </div>
           
        </nav>