{% extends 'base.html.twig' %}

{% block title %}Training{% endblock %}

{% block body %}
<div class="container text-center">
           
                     <img src="{{ asset('picture/R.png') }}" class="formimg" alt="...">
                      <h2>{{ training.Title }}</h2>
                        Crée le :{{training.Datecreate|date('Y-m-d')}} </br>
                     
                        <h3>Descriptif de la formation</h3>
                        {{ training.Description }} </br>
                         
                         <h4>Contenue de la formation</h4>

        {% for section in training.sections %}
                       <ul><h4>{{section.Title}}</h4></ul>
                     
               
                 {% endfor %}
                  {% if is_granted('ROLE_TEACHER') %}
                      
                   
                          <a href="{{ path('app_training_edit',{'id': training.id})}}"class="btn btn-primary" role="button">Modifier</a>
                          {{ include('training/_delete_form.html.twig') }}
                                            
                 {% endif %}
                
              </div>
          
        </tbody>
   

    <a href="{{ path('app_training_index') }}">back to list</a>

   

    
    </div>
{% endblock %}
 